extends _layouts/app

block head_end
block content
  .containter-fluid.header
    include _partials/header

  .containter-fluid.main-content.single-page
    .container
      .row
        .col-md-12.section
          h2= codigo_conducta.title
          p!= codigo_conducta.description
        .col-md-6.section
          h3= codigo_conducta.short_version.title
          p!= codigo_conducta.short_version.body
        .col-md-6.section
          h3= codigo_conducta.mid_version.title
          p!= codigo_conducta.mid_version.body
        .col-md-12.section
          h3= codigo_conducta.help.title
          p!= codigo_conducta.help.body
          .alert.alert-sc!= codigo_conducta.help.adv
        .col-md-12.section
          != codigo_conducta.creditos

  include _partials/footer

block body_end