extends _layouts/app

block head_end
block content
  .containter-fluid.header
    include _partials/header_fix

  .containter-fluid.main-content.single-page
    .container.keynoters-full

      each keynoter, index in homepage.section_three.keynoters
        .row.keynoter-block(id= index, class= keynoter.switch)
          .col-md-4.section
            .image
              img(src= keynoter.foto)
            h3= keynoter.nombre
            != keynoter.contacto

          .col-md-8
            a.tema(href="/#what" title= keynoter.tema)= keynoter.tema
            .charla
              h5!= keynoter.nombre_charla
              p!= keynoter.description
            .about
              p!= keynoter.long_bio
            a.back.hidden-xs(href="javascript:history.back()")
              i.material-icons keyboard_backspace
              span Volver
            
          

      each keynoter, index in homepage.section_three.keynoters2
        .row.keynoter-block(id= index, class= keynoter.switch)
          .col-md-4.section
            .image
              img(src= keynoter.foto)
            h3= keynoter.nombre
            != keynoter.contacto

          .col-md-8
            a.tema(href="/#what" title= keynoter.tema)= keynoter.tema
            .charla
              h5!= keynoter.nombre_charla
              p!= keynoter.description
            .about
              p!= keynoter.long_bio
            a.back.hidden-xs(href="javascript:history.back()")
              i.material-icons keyboard_backspace
              span Volver


  include _partials/footer

block body_end