extends _layouts/app

block head_end
block content
  .containter-fluid.header
    include _partials/header_fix

  .containter-fluid.main-content.single-page
    .row.title
      h2 Talleres
      h3 Se incriben el mismo día en el evento, por orden de llegada hasta agotar los cupos.
      
    .container.keynoters-full

      each workshop, index in workshops
        .row.keynoter-block
          .col-md-4.section
            .image
              img(src= workshop.foto)
            .date
              i.material-icons schedule
              p= workshop.date

          .col-md-8
            .keynote
              h5!= workshop.workshop_name
              p!= workshop.workshop_description
              a.keynote_about(href="/#what" title= workshop.workshop_about)= workshop.workshop_about
            .about
              h5 Facilitadores
              ul
                each facilitator, index in workshop.facilitators
                  li= facilitator

            a.back.hidden-xs(href="javascript:history.back()")
              i.material-icons keyboard_backspace
              span Volver


  include _partials/footer

block body_end
