!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "noodp", name: "robots"}/
    
    %title= t('base.title')
    
    %meta{content: "16 y 17 de noviembre 2018. El evento de desarrollo, diseño e innovación tecnológica más grande de Chile y uno de los más importantes de Sudamérica.", name: "description"}/
    
    %link{href: "http://bcilabs.cl/", rel: "canonical"}/
    %meta{content: "es_ES", property: "og:locale"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "Starsconf 2018", property: "og:title"}/
    %meta{content: "16 y 17 de noviembre 2018. El evento de desarrollo, diseño e innovación tecnológica más grande de Chile y uno de los más importantes de Sudamérica.", property: "og:description"}/
    %meta{content: "https://starsconf.com/", property: "og:url"}/
    %meta{content: "Starsconf 2018", property: "og:site_name"}/
    %meta{content: "https://www.starsconf.com/assets/imgages/logo-starsconf-square.svg", property: "og:image"}/
    %meta{content: "summary", name: "twitter:card"}/
    %meta{content: "16 y 17 de noviembre 2018. El evento de desarrollo, diseño e innovación tecnológica más grande de Chile y uno de los más importantes de Sudamérica..", name: "twitter:description"}/
    %meta{content: "Starsconf 2018", name: "twitter:title"}/
    %meta{content: "https://www.starsconf.com/assets/imgages/logo-starsconf-square.svg", name: "twitter:image"}/
    %link{href: "https://starsconf.com/", rel: "shortlink"}/
    %link{href: "/favicon.ico", rel: "shortcut icon"}/
    %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato:700|Open+Sans+Condensed:300|Paytone+One|Quicksand|PT+Sans:400,400i,700,700i", rel: "stylesheet"}
    ///%link{rel: 'stylesheet', href: '//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css'}
    %link{rel: 'stylesheet', href: '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', integrity: 'sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=', crossorigin: 'anonymous'}

    %link{href: "//fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}/
    = stylesheet_link_tag "application"
  %body
    = yield
    = javascript_include_tag "jquery-3.3.1.min.js"
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js', crossorigin: 'anonymous'}
    = javascript_include_tag "lodash.min.js"
    = javascript_include_tag "imagesloaded.min.js"
    = javascript_include_tag "site"
