<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= t('title') %></title>
    <meta name="description" content="Si crees que tu equipo está preparado para aportar innovación al Banco Bci en procesos, productos o tecnología, aplica a Bci Labs.">
    <meta name="robots" content="noodp">
    <link rel="canonical" href="http://bcilabs.cl/">
    
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bci Labs - Acelerando el Ecosistema Fintech">
    <meta property="og:description" content="Si crees que tu equipo está preparado para aportar innovación al Banco Bci en procesos, productos o tecnología, aplica a Bci Labs.">
    <meta property="og:url" content="http://bcilabs.cl/">
    <meta property="og:site_name" content="Bci Labs">
    <meta property="og:image" content="http://studio.weloveweb.design/bcilabs_wp/wp-content/uploads/2016/12/bcilabs_opengraph.jpg"><meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Si crees que tu equipo está preparado para aportar innovación al Banco Bci en procesos, productos o tecnología, aplica a Bci Labs.">
    <meta name="twitter:title" content="Bci Labs - Acelerando el Ecosistema Fintech">
    <meta name="twitter:image" content="http://studio.weloveweb.design/bcilabs_wp/wp-content/uploads/2016/12/bcilabs_opengraph.jpg">
    <link rel="shortlink" href="http://bcilabs.cl/">
    <meta property="fb:app_id" content="1467570403268077">

    <link rel="shortcut icon" href="http://studio.weloveweb.design/bcilabs_wp/wp-content/uploads/2016/11/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Merriweather:400,700,700i,900,900i|Montserrat:300,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "jquery-3.3.1.min.js" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
