.discipline-code
  .content
    %h2.titles= t('codigo_conducta.title')
    .desciption
      %ul
        = t('codigo_conducta.code_description')
      %div
        %h3.subtitles= t('codigo_conducta.short_version.title')
        = t('codigo_conducta.short_version.body')      
      %div
        %h3.subtitles= t('codigo_conducta.long_version.title')
        = t('codigo_conducta.long_version.body')
      %div
        %h3.subtitles= t('codigo_conducta.help.title')
        = t('codigo_conducta.help.body')
        %span.warning= t('codigo_conducta.help.adv')
      .credits
        = t('codigo_conducta.credits')

