%section.home#background
  .description
    .content
      %h2= t('homepage.fecha')
      %h1= t('homepage.description_home')
      = link_to 'https://welcu.com/startechconf/starsconf-2018', title: t('homepage.button_buy_tickets'), class: 'cta' do
        = t('homepage.button_buy_tickets')
      = link_to 'https://airtable.com/shrZ15SSrfCAMnDRI', title: t('section_keynoters.call-to-speakers'), class: 'cta temp-cta' do
        = t('section_keynoters.call-to-speakers')