%section.themes.scrollspy#whatis
  .content
    %h2.titles= t('section_themes.title')
    %h3.subtitles= t('section_themes.subtitle') 
    .topics
      - Hash[t('section_themes.themes')].each do |key, theme|
        .topic-square
          %h4.topic-square-title= (theme[:theme_title])
          %p.topic-square-description= (theme[:theme_description])
          %p.topic-square-resume= (theme[:theme_resume])
            

