.newhome
  .content
    .description
      h2= homepage.fecha
      h1= homepage.description_home
    a.cta(href="https://welcu.com/startechconf/starsconf-2018", title=homepage.videos_will_be_published_soon)= homepage.button_buy_tickets

//.containter-fluid.header.home-header#background
  .container.home-bottom-header
    .row
      .col-md-12
        h2
          strong= homepage.fecha
          br
          = homepage.description_home
      .col-md-12.call-to-action
        a(href="#", title=homepage.videos_will_be_published_soon)= homepage.button_buy_tickets
