.container-fluid.main-content.keynoters
  .container
    .row.title
      .col-md-12.section
        h2.scrollspy#keynoters= homepage.section_three.title
        p= homepage.section_three.bajada


    .row.people
      each keynoter, index in homepage.section_three.keynoters
        .col-md-4.col-xs-12.keynoter
          .image
            a(href='/keynoters-speakers.html##{index}' title='Ver detalle de su presentación')
              img(src= keynoter.foto)
          .data
            p= keynoter.nombre
            span= keynoter.bio
            span!= keynoter.contacto

      .col-md-12.section
        h2.scrollspy#keynoters= homepage.section_three.title_dos
        p= homepage.section_three.bajada_dos

    .row.people
      each keynoter, index in homepage.section_three.keynoters2
        .col-md-3.col-xs-12.keynoter2(class= keynoter.switch)
          .image
            a(href='/keynoters-speakers.html##{index}' title='Ver detalle de su presentación')
              img(src= keynoter.foto)
          .data
            p= keynoter.nombre
            span= keynoter.bio
            span!= keynoter.contacto

    .row
      .col-md-12.col-xs-12.call-to-action
        a.hidden-xs.hidden-sm.hidden-md(href= homepage.section_three.url_boton, title= homepage.section_three.boton)= homepage.section_three.boton
        a.visible-xs(href= homepage.section_three.url_boton, title= homepage.section_three.boton)= homepage.section_three.boton_short