.container-fluid.main-content.sponsors
  .container
    - var platinums = homepage.section_four.sponsors.platinum
    - var totalplatinums = Object.keys(platinums).length
    - var goldens = homepage.section_four.sponsors.gold
    - var totalgoldens = Object.keys(goldens).length
    - var silvers = homepage.section_four.sponsors.silver
    - var totalsilvers = Object.keys(silvers).length
    - var colsClasses = ['xs-hidden', 'col-md-12 col-xs-12', 'col-md-6 col-xs-12', 'col-md-4 col-xs-12', 'col-md-6 col-xs-12', 'col-md-6 col-xs-12', 'col-md-4 col-xs-12']

    if (totalplatinums + totalgoldens + totalsilvers) != 0
      .row.title
        .col-md-12.section
          h2= homepage.section_four.title1

    if totalplatinums != 0
      .row.platinuum
        .col-md-12.col-xs-12.title
            h4= homepage.section_four.sponsors.categoria1
        each logo in platinums
          div(class="#{colsClasses[totalplatinums] || 'col-md-6 col-xs-6'}")
            !=logo

    if totalgoldens != 0
      .row.gold
        .col-md-12.col-xs-12.title
            h4= homepage.section_four.sponsors.categoria2
        each logo in goldens
          div(class="#{colsClasses[totalgoldens] || 'col-md-6 col-xs-6'}")
            !=logo

    if totalsilvers != 0
      .row.silver
        .col-md-12.col-xs-12.title
            h4= homepage.section_four.sponsors.categoria3
        each logo in silvers
          div(class="#{colsClasses[totalsilvers] || 'col-md-6 col-xs-6'}")
            !=logo

    - var organizers = homepage.section_four.sponsors.organizadores
    - var totalorganizers = Object.keys(organizers).length

    if totalorganizers != 0
      .row.title.organizadores
        .col-md-12.section.title
          h2.scrollspy#sponsors= homepage.section_four.title2
        each organizador in organizers
          .col-md-4.col-xs-12
            != organizador

    - var partners = homepage.section_four.sponsors.partners
    - var totalpartners = Object.keys(partners).length

    if totalpartners != 0
      .row.title.partners
        .col-md-12.section.title
          h2= homepage.section_four.title3
        each partner in partners
          .col-md-6.col-xs-12
            != partner
