.containter-fluid.main-content.sponsors
  .container
    .row.title
      .col-md-12.section
        h2.scrollspy#sponsors= homepage.section_four.title1
    .row.platinuum
      .col-md-12.col-xs-12
        h4= homepage.section_four.sponsors.categoria1
      - each logo in homepage.section_four.sponsors.platinum
        .col-md-3.col-xs-6
          !=logo

    //.row.gold
      .col-md-12.col-xs-12
        h4= homepage.section_four.sponsors.categoria2
      - each logo in homepage.section_four.sponsors.gold
        .col-md-3.col-xs-6
          !=logo

    .row.silver
      .col-md-12.col-xs-12
        h4= homepage.section_four.sponsors.categoria3

      - var silvers = homepage.section_four.sponsors.silver
      - each logo in silvers
        .col-md-12.col-xs-12
          !=logo
          

    .row.title.organizadores
      .col-md-12.section
        h3= homepage.section_four.title2
      - each organizador in homepage.section_four.sponsors.organizadores
        .col-md-4.col-xs-4
          != organizador
