= partial "partials/header"
.home#background
  .description
    .content
      %h2= t('homepage.fecha')
      %h1= t('homepage.description_home')
      = link_to 'https://welcu.com/startechconf/starsconf-2018', title: t('homepage.button_buy_tickets'), class: 'cta' do
        = t('homepage.button_buy_tickets')

= partial "partials/footer"