= partial "partials/header"
= partial "partials/home-presentation"
= partial "partials/keynoters-speakers"
-#= partial "partials/whatis"
-#= partial "partials/tickets"
-#= partial "partials/blog"
= partial "partials/sponsors-organizers.haml"
= partial "partials/place"
= partial "partials/footer", locals: {clase: ''}