= partial "partials/header"
= partial "partials/home-presentation"
= partial "partials/keynoters-speakers"
= partial "partials/themes"
= partial "partials/sponsors-organizers.haml"
= partial "partials/place"
= partial "partials/footer", locals: {clase: 'no-fixed-footer'}