<section class="header-page">
  <%= partial "partials/header" %>
</section>
<section class="team">
  <div class="container main-content">
    <h2><%= t('team.title') %></h2>
    <h3><%= t('team.description') %></h3>

    <div class="bio">
      <h3 class="name">Name</h3>
      <p class="desc">Description</p>
      <p class="area">#Area</p>
      <% link_to(t('team.fake-link'), :class => 'close-bio') do %>
        <i class="material-icons">close</i>
      <% end %>
    </div>

    <div class="team-squares">  
      <div class="picture no-picture"></div> 
      <div class="picture no-picture"></div> 
      <div class="picture no-picture"></div> 
      <div class="picture no-picture"></div> 

      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member01'), :'data-area' => t('team.members.member01-area'), :'data-desc' => t('team.members.member01-desc')) do %>
        <%= image_tag t('team.members.picture01') %>
      <% end %>

      <div class="picture no-picture"></div> 
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      
      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member03'), :'data-area' => t('team.members.member03-area'), :'data-desc' => t('team.members.member03-desc')) do %>
        <%= image_tag t('team.members.picture03') %>
      <% end %>
      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member04'), :'data-area' => t('team.members.member04-area'), :'data-desc' => t('team.members.member04-desc')) do %>
        <%= image_tag t('team.members.picture04') %>
      <% end %>
      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member05'), :'data-area' => t('team.members.member05-area'), :'data-desc' => t('team.members.member05-desc')) do %>
        <%= image_tag t('team.members.picture05') %>
      <% end %>

      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>

      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member06'), :'data-area' => t('team.members.member06-area'), :'data-desc' => t('team.members.member06-desc')) do %>
        <%= image_tag t('team.members.picture06') %>
      <% end %>

      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>

      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member07'), :'data-area' => t('team.members.member07-area'), :'data-desc' => t('team.members.member07-desc')) do %>
        <%= image_tag t('team.members.picture07') %>
      <% end %>
      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member08'), :'data-area' => t('team.members.member08-area'), :'data-desc' => t('team.members.member08-desc')) do %>
        <%= image_tag t('team.members.picture08') %>
      <% end %>
      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member09'), :'data-area' => t('team.members.member09-area'), :'data-desc' => t('team.members.member09-desc')) do %>
        <%= image_tag t('team.members.picture09') %>
      <% end %>

      <div class="picture no-picture"></div>

     <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member11'), :'data-area' => t('team.members.member11-area'), :'data-desc' => t('team.members.member11-desc')) do %>
        <%= image_tag t('team.members.picture11') %>
      <% end %>
     <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member10'), :'data-area' => t('team.members.member10-area'), :'data-desc' => t('team.members.member10-desc')) do %>
        <%= image_tag t('team.members.picture10') %>
      <% end %>
      <% link_to(t('team.fake-link'), :class => 'picture', :'data-name' => t('team.members.member02'), :'data-area' => t('team.members.member02-area'), :'data-desc' => t('team.members.member02-desc')) do %>
        <%= image_tag t('team.members.picture02') %>
      <% end %>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
      <div class="picture no-picture"></div>
    </div>
  </div>
</section>
<%= partial "partials/footer" %>